/*===========================================================*/
/*===========================================================*/
/*                  TAG HTML Identicators                    */
/*===========================================================*/
/*===========================================================*/
/*=====================*/
/*       HEADER        */
/*=====================*/
.navbar-brand {
    flex-grow: 1;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.bg-dark {
    background-color: rgb(22, 19, 19)!important;
}
@media (min-width: 992px) and (max-width: 2000px){
    #btnSearcher {
        display: none;
    }
}

/*=====================*/
/*       FOOTER        */
/*=====================*/
#myDSFoot {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgb(22, 22, 22);
    position: relative;
    bottom: 0%;
}
#DSTC {
    font-size: 11px;
}
#DSCopiright {
    font-size: 12px;
}
#DSMarc {
    color: white;
}
/*===================================================*/
/*========       XS EXTRA SMALL SCREEN       ========*/
/*===================================================*/
@media (min-width: 100px) and (max-width: 390px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 500px;
        width: 100%;
        background-color: rgb(146, 0, 0);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 5px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        width: 95%;
        height: 50px;
        margin-left: 2.5%;
        margin-top: 10px;
        border-radius: 10px;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/
    .content1 {
        height: 500px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: rgb(177, 177, 177);
        text-align: center;
    }
    #titlePrd_1 {
        font-size: 40px;
        font-family: sans-serif;
        font-style: italic;
        font-weight: 600;
        color: rgb(93, 93, 93);
        position: relative;
        top: 30px;
    }
    #textPrd_1 {
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 2%;
        color: rgb(70, 70, 70);
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }
    #linkboxPrd1 {
        height: 100px;
        width: 100%;
    }
    #linkPrd_1 {
        position: relative;
        top: 10px;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #linkPrd_A1 {
        font-size: 15px;
        font-family: sans-serif;
        position: relative;
        top: 25px;
        text-decoration-line: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(167, 167, 167);
    }
    #mwaBox {
        width: 100%;
        height: 128px;
        margin-top: 5%;
    }

    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/
    .content2 {        
        height: 500px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(177, 177, 177);
        text-align: center;
    }
    #titlePrd_2 {
        font-size: 30px;
        font-family: sans-serif;
        font-style: italic;
        font-weight: 600;
        color: rgb(93, 93, 93);
        position: relative;
        top: 30px;
    }
    #textPrd_2 {
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 2%;
        color: rgb(70, 70, 70);
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }
    #linkboxPrd2 {
        height: 100px;
        width: 100%;
    }
    #linkPrd_2 {
        position: relative;
        top: 10px;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #linkPrd_2A {
        font-size: 15px;
        font-family: sans-serif;
        position: relative;
        top: 25px;
        text-decoration-line: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(167, 167, 167);
    }
    #sdnBox {
        width: 100%;
        height: 160px;
        margin-top: 1%;
    }
    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/
    .content3 {
        height: 400px;
        width: 100%;
        background-color: rgb(141, 140, 138);
        margin-top: 50px;
        text-align: center;
    }
    #boxTSPrg {
        width: 100%;
        height: 130px;
        padding: 5px;
    }
    #SPrgTitle {
        position: relative;
        top: 30px;
        font-size: 27px;
        color: rgb(0, 0, 0);
        font-weight: 600;
    }
    #SPrgLink {
        color: rgb(16, 83, 144);
    }
    #SPrgLogo {
        position: relative;
        top: 50px;
    }
    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/
    .content4 {
        height: 350px;
        width: 100%;
        background-color: rgb(204, 204, 204);
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 150px;
        text-align: center;
    }
    #boxSASPrg {
        width: 80%;
        height: 80px;
        margin-left: 10%;
        position: relative;
        top: 55px;
    }
    #SASTitle {
        font-size: 25px;
        font-weight: 600;
        color: black;
    }
    #SASPrgLogo {
        position: relative;
        top: 80px;
    }
    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/
    .content5 {
        height: 350px;
        width: 100%;
        background-color: rgb(207, 207, 207);
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 150px;
        text-align: center;
    }
    #boxDRPPrg {
        width: 80%;
        height: 80px;
        margin-left: 10%;
        position: relative;
        top: 55px;
    }
    #DRPTitle {
        font-size: 25px;
        font-weight: 600;
        color: black;
    }
    #DRPPrgLogo {
        position: relative;
        top: 80px;
    }
    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 500px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 15%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 50px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(41, 80, 151);
        font-size: 15px;
        font-weight: 600;
    }
    #DSText {
        font-size: 11px;
        margin-left: 10%;
        margin-top: 5%;
        width: 80%;
        height: 50px;
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 70px;
        width: 100%;
    }
    #DSInputEmail {
        width: 45%;
        height: 26px;
        font-size: 11px;
        padding-left: 10px;
        border-color: transparent;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 26px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 3px;
        font-size: 11px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 10px;
        text-align: center;
    }
}
