/*===========================================================*/
/*===========================================================*/
/*                  TAG HTML Identicators                    */
/*===========================================================*/
/*===========================================================*/

body {
}

.cont {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
}

header, footer {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    margin: 0%;
    padding: 0%;
    top: 0px;
}

footer {
    margin: 0%;
    padding: 0%;
    bottom: 0px;
}