/*===========================================================*/
/*===========================================================*/
/*                  TAG HTML Identicators                    */
/*===========================================================*/
/*===========================================================*/
/*=====================*/
/*       HEADER        */
/*=====================*/
.navbar-brand {
    flex-grow: 1;
    text-align: center;
}
#logoName {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
}
#logoName:hover {
    opacity: 0.5;
    background-color: rgb(20, 20, 20);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.bg-dark {
    background-color: rgb(22, 19, 19)!important;
}
@media (min-width: 992px) and (max-width: 2000px){
    #btnSearcher {
        display: none;
    }
}
/*=====================*/
/*        BODY          */
/*=====================*/
a:hover {
    text-decoration: none!important;
}

/*=====================*/
/*       FOOTER        */
/*=====================*/
#myDSFoot {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgb(27, 27, 27);
    position: relative;
    bottom: 0%;
}
#DSTC {
    font-size: 14px;
}
#DSCopiright {
    font-size: 15px;
}
#DSMarc {
    color: white;
}


/*===================================================*/
/*========       XS EXTRA SMALL SCREEN       ========*/
/*===================================================*/
@media (min-width: 100px) and (max-width: 390px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 500px;
        width: 100%;
        background-color: rgb(146, 0, 0);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 10%;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/

    
    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 500px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 15%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 50px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(41, 80, 151);
        font-size: 15px;
        font-weight: 600;
    }
    #DSText {
        font-size: 11px;
        margin-left: 10%;
        margin-top: 5%;
        width: 80%;
        height: 50px;
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 70px;
        width: 100%;
    }
    #DSInputEmail {
        width: 45%;
        height: 26px;
        font-size: 11px;
        padding-left: 10px;
        border-color: transparent;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 26px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 3px;
        font-size: 11px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 10px;
        text-align: center;
    }
}

@media (min-width: 391px) and (max-width: 575px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 550px;
        width: 100%;
        background-color: rgb(255, 93, 93);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 10%;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 510px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 7%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 35px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(41, 80, 151);
        font-size: 15px;
        font-weight: 600;
    }
    #DSText {
        font-size: 14.5px;
        margin-left: 10%;
        margin-top: 5%;
        width: 80%;
        height: 50px;
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 80px;
        width: 100%;
    }
    #DSInputEmail {
        width: 60%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-color: transparent;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 40px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 2.5px;
        font-size: 14px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 14px;
        text-align: center;
    }

}

/*===================================================*/
/*========          SM SMALL SCREEN          ========*/
/*===================================================*/
@media (min-width: 576px) and (max-width: 767px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 800px;
        width: 100%;
        background-color: rgb(218, 98, 0);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 10%;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/

    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 510px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 5%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 35px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(41, 80, 151);
        font-size: 18px;
        font-weight: 600;
    }
    #DSText {
        font-size: 17px;
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
        height: 50px;
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 80px;
        width: 100%;
    }
    #DSInputEmail {
        width: 60%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-color: transparent;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 40px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 2.5px;
        font-size: 14px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 14px;
        text-align: center;
    }
}


/*===================================================*/
/*========         MD MEDIUM SCREEN          ========*/
/*===================================================*/
@media (min-width: 768px) and (max-width: 991px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 800px;
        width: 100%;
        background-color: rgb(196, 218, 0);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 10%;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 510px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 5%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 35px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(41, 80, 151);
        font-size: 18px;
        font-weight: 600;
    }
    #DSText {
        font-size: 17px;
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
        height: 50px;
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 80px;
        width: 100%;
    }
    #DSInputEmail {
        width: 60%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-color: transparent;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 40px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 2.5px;
        font-size: 14px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 14px;
        text-align: center;
    }
}


/*===================================================*/
/*========         LG LARGE SCREEN           ========*/
/*===================================================*/
@media (min-width: 992px) and (max-width: 1199px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 800px;
        width: 100%;
        background-color: rgb(0, 218, 29);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 10%;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 550px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 5%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 35px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(161, 161, 161);
        font-size: 18px;
        font-weight: 600;
    }
    #DSText {
        font-size: 17px;
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
        height: 50px;
        color: rgb(0, 0, 0);
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 80px;
        width: 100%;
    }
    #DSInputEmail {
        width: 60%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-color: transparent;
        color: black;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 40px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 2.5px;
        font-size: 14px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 14px;
        text-align: center;
    }
}


/*===================================================*/
/*========      XL EXTRA LARGE SCREEN        ========*/
/*===================================================*/
@media (min-width: 1200px) and (max-width: 1599px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 800px;
        width: 100%;
        background-color: rgb(0, 218, 207);
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 5%;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 550px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 5%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 35px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(161, 161, 161);
        font-size: 18px;
        font-weight: 600;
    }
    #DSText {
        font-size: 17px;
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
        height: 50px;
        color: rgb(0, 0, 0);
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 80px;
        width: 100%;
    }
    #DSInputEmail {
        width: 60%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-color: transparent;
        color: black;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 40px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 2.5px;
        font-size: 14px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 14px;
        text-align: center;
    }

}

@media (min-width: 1600px) and (max-width: 1999px){
    /*=====================*/
    /*       HEADER        */
    /*=====================*/


    /*=====================*/
    /*      CONTENIDO      */
    /*=====================*/
    .cont {
        height: 950px;
        width: 100%;
        background-color: rgb(0, 218, 29);
    }
    #baseBloq1, #baseBloq2 {
        height: 650px;
        margin-top: 30px;
    }
    .sTitle {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-bottom: 0%;
    }
    .sTitles {
        background-color: rgb(238, 238, 238);
        color: rgb(70, 70, 70);
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        height: 40px;
        margin-top: 3%;
        margin-bottom: 0%;
    }
    /*==========================*/
    /*======= CONTENIDO 1 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 2 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 3 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 4 ======*/
    /*==========================*/


    /*==========================*/
    /*======= CONTENIDO 5 ======*/
    /*==========================*/
 

    /*==========================*/
    /*======= CONTENIDO 6 ======*/
    /*==========================*/
    .content6 {
        height: 550px;
        width: 100%;
        background-color: rgb(110, 110, 110);
        margin-top: 50px;
        text-align: center;
    }
    #DSLogo {
        margin-top: 5%;
        width: 267px;
        height: 215px;
    }
    #boxTitleLogo {
        height: 50px;
        width: 100%;
    }
    #DSLogoLink {
        color: white;
        font-size: 30px;
    }
    #boxInfoLogo {
        margin-top: 35px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    #DSKnowLink {
        color: rgb(161, 161, 161);
        font-size: 18px;
        font-weight: 600;
    }
    #DSText {
        font-size: 17px;
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
        height: 50px;
        color: rgb(0, 0, 0);
    }

    /*================*/
    /*===== REDES ====*/
    /*================*/
    #FootBox {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        width: 100%;
        text-align: center;
    }
    .DSNetIcons {
        height: 32px;
        width: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #DSBoxRegister {
        margin-top: 20px;
        height: 80px;
        width: 100%;
    }
    #DSInputEmail {
        width: 60%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
        border-color: transparent;
        color: black;
        background-color: rgb(209, 209, 209);
    }
    #DSButtonReg {
        height: 40px;
        width: 25%;
        position: relative;
        right: 1%;
        padding: 2.5px;
        font-size: 14px;
        background-color: rgb(187, 187, 187);
        border-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #DSTextReg {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 30px;
        font-size: 14px;
        text-align: center;
    }
}